  #p3r2o1{
    height: 33%;
    width: 17%;
    background-color: aqua;
    margin-bottom: 2%;  
}
  #p3r2o2{
    height: 47%;
    width: 17%;
    background-color:rgb(33, 41, 41);
  }
  #p3r2o3{
    /* position: absolute; */
    top: 20px;
    right: 100px;
    height: 15%;
    width: 25%;
    background-color:rgb(33, 41, 41);
  }
  #p3r2o4{
    /* position: absolute; */
    top: 17%;
    right: 100px;
    height: 37%;
    width: 17%;
    background-color:rgb(33, 41, 41);
  }
  #p3r2o5{
    /* position: absolute; */
    right: 100px;
    height: 47%;
    width: 17%;
    background-color:rgb(33, 41, 41);
  }